* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #191825;
    font-family: 'Finger Paint', cursive;
    color: #d677f3;
}

.heading {
    color: #E384FF;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    margin-bottom: 50px;
}

.heading h1 {
    margin-bottom: 20px;
}

button {
    background-color: #d355fa;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    justify-content: center;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms, box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover,
button:focus {
    background-color: #d677f3;
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #191825;
}

#gameboard {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.box {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d355fa;
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
}
